<h2 class="page-header">You are editing your poll -  {{poll1.title}}</h2>
<hr> 

<div class="container">
    <canvas id="myChart"></canvas>
</div>
<script>
    let myChart = document.getElementById('myChart').getContext('2d');

    // Global Options
    Chart.defaults.global.defaultFontFamily = 'Lato';
    Chart.defaults.global.defaultFontSize = 18;
    Chart.defaults.global.defaultFontColor = '#777';
    var decodedJson = decodeURIComponent("{{poll}}");
    var poll = JSON.parse(decodedJson);
    
    console.log(poll);
    var labels = poll.options.map(x => {return x.name});
    console.log(labels);
    var data = poll.options.map(x => {return x.votes});
    
    let massPopChart = new Chart(myChart, {
      type:'doughnut', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
      data:{
        labels: labels,
        datasets:[{
          label:'Votes',
          data: data,
          //backgroundColor:'green',
          backgroundColor:[
            'rgba(255, 99, 132, 0.6)',
            'rgba(54, 162, 235, 0.6)',
            'rgba(255, 206, 86, 0.6)',
            'rgba(75, 192, 192, 0.6)',
            'rgba(153, 102, 255, 0.6)',
            'rgba(255, 159, 64, 0.6)',
            'rgba(255, 99, 132, 0.6)'
          ],
          borderWidth:1,
          borderColor:'#777',
          hoverBorderWidth:3,
          hoverBorderColor:'#000'
        }]
      },
      options:{
        title:{
          display:true,
          text:'Votes for '+poll.title,
          fontSize:25
        },
        legend:{
          display:true,
          position:'right',
          labels:{
            fontColor:'#000'
          }
        },
        layout:{
          padding:{
            left:50,
            right:0,
            bottom:0,
            top:0
          }
        },
        tooltips:{
          enabled:true
        }
      }
    });
</script>
<form method="post" action="/users/poll/{{poll1.title}}">
  <div class="form-group">
    <label><h3>Add option</h3></label>
    <input type="text" name="option" class="form-control" placeholder="The option you want to add in the poll">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<hr>

<form method="post" action="/users/{{poll1.username}}/delete/{{poll1.title}}">
  <div class="form-group">
    <label><h3>Delete Poll</h3></label>
    <input class="form-control" type="text" name="title" placeholder="Enter the name of this poll to delete it."/>
  </div>
  <button type="submit" class="btn btn-lg btn-block btn-danger">Delete Poll</button>
</form>

    
 
